<template>

       <div class="row">
        <div class=" container-fluid col-md-12 col-sm-12">
            <div class="sidebar-header">
                <div class = "Logo pt-5 pb-5"> 

                    <div class="logo"></div>
                    <img src="../assets/logoo.png" class = "img-fluid " alt="" id="logo">

            </div>
            </div>

            <ul class="col" >
                <li><a href="#" class = "col1" id="upload-music" 
                    data-bs-toggle="modal" data-bs-target="#uploadMusicModal">Upload Music</a></li>
                
              
                <li><a href="#" >All Music</a></li>

            </ul> 
           
            <ul class="col">
                <li><a href="#" class = "col2" id="upload-music" 
                    data-bs-toggle="modal" data-bs-target="#createPlaylistModal">Create Playlist</a></li>
            </ul>
            <ul v-for="playlist in playlists" :key="playlist.id" style="list-style: none" id="createPlaylistSubmenu">
              <li>
                <a class="nav-link text-grey font-italic" href="#">{{playlist.name}}</a>
              </li>
            </ul>

       </div>                     
    </div>

 <div id="uploadMusicModal" class="upload-music-modal modal" role="dialog">
      <div class="upload-music-dialog modal-dialog modal-dialog-centered">
        
          <div class="upload-content modal-content">

              <div class="upload-header modal-header">
                  <p class="upload-title modal-title">Upload Music</p>
              </div>

              <div class="upload-body modal-body">
                  <label>Drag and Drop files here</label>
              </div>

              <div class="upload-footer modal-footer">
                  <button class="btn-upload" data-dismiss="modal">Upload</button>
                  <button class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
              </div>

          </div>

      </div>
  </div>
      
      <div id="createPlaylistModal" class="create-playlist-modal modal" role="dialog">
    <div class="create-playlist-dialog modal-dialog">
      
        <div class="playlist-content modal-content">

            <div class="playlist-header modal-header">
                <p class="playlist-title modal-title">Create Playlist</p>
                
            </div>

            <div class="playlist-body modal-body">
                <input v-model="this.name" type="text" class="form-control">
            </div>

            <div class="playlist-footer modal-footer">
                <button @click="zPlaylist" class="btn-create">Create</button>
                <button class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>

    </div>
</div>
</template>

<script>
import axios from "axios";
export default {
  name: 'MusicPlayer' ,
  
  data() {
    return {
      name: [],
      playlists: [],
    };
  },
  methods: {
    zPlaylist() {
      axios
        .post("http://localhost:8000/api/create", {
          name: this.name,
        })
        .then((response) => {
          console.log(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getAllPlaylist() {
      axios
        .get("http://localhost:8000/api/playlists")
        .then((response) => {
          this.playlists = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

  },
  created() {
    this.getAllPlaylist();
  },
  
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
  margin-left: 65px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
 margin-left: 10px;
}
a {
  color: grey;
    text-decoration: none;
}

img{
  height: 40px;
  width: 140px;
/*Upload Music Modal*/

}
.upload-music-modal {
  margin-top: -5%;
}

.upload-music-modal .upload-music-dialog .upload-content {
  border-radius: 0%;
  border: 1px solid #a58f8f;
  background-color: #544242;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-title {
  color: #fff;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body {
  background-color: #a58f8f;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 35px;
  height: 106px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body label {
  color: grey;
  font: 17px;
  margin-left: 120px;
  margin-top: 25px;
}

.upload-music-modal
  .upload-music-dialog
  .upload-content
  .upload-footer
  .btn-upload {
  width: 116px;
  height: 35px;
  border: none;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
  margin-right: 10px;
}

.upload-music-modal
  .upload-music-dialog
  .upload-content
  .upload-footer
  .btn-cancel {
  width: 116px;
  height: 35px;
  border: 1.5px solid #5c5c5c;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-header,
.modal-body,
.modal-footer {
  border: none !important;
}

/*Create Playlist Modal*/
.create-playlist-modal {
  margin-top: 15%;
}

.create-playlist-modal .create-playlist-dialog .playlist-content {
  border-radius: 0%;
  border: 1px solid #555555;
  background-color: #544242;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-title {
  color: #fff;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-body
  .playlist-input {
  border-radius: 0%;
  border: 1px solid #767676;
  background-color: #c4c4c4;
  color: #fff;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-footer
  .btn-create {
  width: 116px;
  height: 35px;
  border: none;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
  margin-right: 10px;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-footer
  .btn-cancel {
  width: 116px;
  height: 35px;
  border: 1.5px solid #5c5c5c;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-body {
  border-top: none !important;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-header,
.playlist-body,
.playlist-footer {
  border: none !important;
}
</style>
