<template>
   <div class = "boxContainer p-5">
     <div class ="container-fluid">
            <div class = "container-fluid" id ="searchB"> 
                    <input type="text" placeholder="Search" class="srcbar">

          </div>
           <h2>All Songs</h2>
           
        <br /><br />
        
        <table class="table table-bordered table-hover table-responsive" >
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col">Artist</th>
              <th scope="col">Album</th>
              <th scope="col">Duration</th>
           
            </tr>
          </thead>
          <tbody>
          
            <tr v-for="song in songs" :key="song.id">
              {{song.id}}
            <td>{{song.title}}</td>
            <td>{{song.artist}}</td>
            <td>Album name</td>
            <td>{{song.length}}</td>
  
          </tr>
          </tbody>
        </table>  

        <div class= "container">
                            <div class="music-controls-panel">
                            <div class="music-control-box">
                                <div class="progress">
                                    <progress class="music-progress" value="35" max="100"></progress>
                                </div>
                                <center>
                                <button style=" background-color: #544242; border: none; margin-top: 10px; margin-right: 50px;">
                                    <span><img src="../assets/rewind.png" alt="" width="42" height="44" ></span>
                                </button>
                                <button style="background-color: #544242; border: none;">
                                    <span><img src="../assets/play.png" alt="" width="42" height="44"></span>
                                </button>
                                <button style="background-color: #544242; border: none; margin-left: 50px;">
                                    <span><img src="../assets/forward.png" alt="" width="42" height="44"></span>
                                </button>
                                </center>
                            </div>
                        </div>
                        </div>
   </div>
   </div>


</template>


<script>
export default {
  name: 'search',
  props: ['songs'],
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");
.boxContainer{
    padding: 25px;
}
.line img {
  position: absolute;
  width: 400px;
  height: 80px;
  top: 500px;
  left: 550px;
}

.play img {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 600px;
  left: 730px;
}

.prev img {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 600px;
  left: 620px;
}

.fforward img {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 600px;
  left: 850px;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.table{
    width: 80vw;
    margin-right: 10px;
}

.table thead th {
  background: #886363;
  height: 50px;
  width: 100px;
  text-align: center;
  font-family: 'Mina';
  font-size: 14 px;
 
}
.table tbody {
  background: #bba4a4;
  text-align: center;
  font-family: 'Mina';
  color: black;
   font-size: 12px;
}

.elementsContainer {
  width: 200px;
  height: 55px;
}
h2{
  margin-left: 7px;  
  font-family: 'Mina';
  color: grey;
}

.srcbar {
margin-left: -50px;
width: 290px;
height: 25px;
}

#searchB {
  margin-left: 20px;
  margin-bottom: 40px;
}

</style>