<template>

  <div class="app-container" id ="cont">
       <nav class ="navbar navbar-expand-lg navbar-light" id="sidebar">
         <div class = "container-fluid" id="cnt">            
                <MusicPlayer/>


         </div>
    </nav>
    <div class="content">

    <div class = "container-fluid p-5" id = "mainS">
    
    <search :songs="songs"/>
    
    </div>
    
    </div>
    
  </div>
  
    
</template>

<script>
import axios from "axios";
import MusicPlayer from './components/MusicPlayer.vue'
import search from './components/search.vue'

export default {
  name: 'App',
  components: {
    MusicPlayer,
    search
  },
  data() {
    return {
      songs: [],
    };
  },
  methods: {
    getAllSongs() {
      // axios.defaults.headers.common['Authorization'] = Bearer ${this.$auth.getAccessToken()}
      axios.get("http://localhost:8000/api/songs")
        .then((response) => {
          this.songs = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.getAllSongs();
  },
}
</script>

<style>
#app {
  font-family: 'Mina', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify ;
  color: #FFFFFF;
  display: flex;
  background-color: #544242;
  overflow: hidden;

}


#sidebar {
  background-color: #413232;
  height: 100vh;
  width: 200px;
  display: flex;

  
  }

#sidebar ul li a {
  padding: 2px;
  font-size: 1.1em;
  display: block;
  color: auto;
  
}

#sidebar ul li {
  text-align: left;
}


a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#Logo {
  margin-bottom: 50px;
  margin-left: 20px;
}

#cont {
  display:flex;
}
#cont > *:nth-child(1){
  flex:1 1 30;
}
#cont > *:nth-child(2){
  flex:1 1 70;
}

#cnt{
  margin-top: -300px;
}

#mainS {
  margin-top: -90px;
  margin-left: -20px;
}
.container .songs-col .music-controls-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 190px;
    background-color: #1f1f1f;
}

.container .music-controls-panel .music-control-box {
    height: 10px;
    margin: 60px auto;
}

.container .music-controls-panel .music-control-box .progress {
    height: 5px;
    border-radius: 2%;
}

.container .music-controls-panel .music-control-box .progress .music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}

.container .music-controls-panel .music-control-box .progress .music-progress::-webkit-progress-value {
    background-color: blue;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

</style>
