body {
  font-family: "Mina", sans-serif;
  background: #544242;
}
p {
  font-family: "Mina", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* Side Bar*/

#sidebar img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 30px;
  float: left;
}
p.title {
  font-style: Mina;
  color: #c15959;
  margin-top: 30px;
  margin-left: 85px;
}

#sidebar.active {
  margin-left: -250px;
}
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #413232;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #413232;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #413232;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #413232;
}
.topnav {
  margin-left: 500px;
}
.line img {
  position: absolute;
  width: 400px;
  height: 80px;
  top: 380px;
  left: 460px;
}

.play img {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 460px;
  left: 650px;
}

.prev img {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 460px;
  left: 550px;
}

.fforward img {
  position: absolute;
  width: 35px;
  height: 30px;
  top: 460px;
  left: 750px;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.table thead th {
  background: #886363;
}
.table tbody {
  background: #bba4a4;
}

.elementsContainer {
  width: 200px;
  height: 55px;
}

.wrapper.header {
  padding-top: 40px;
  padding-left: 40px;
  height: 86px;
  background: #ffa96a;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  background: #717171;
}

/* upload music modal */

.upload-music-modal {
  margin-top: 15%;
}

.upload-music-modal .upload-music-dialog .upload-content {
  border-radius: 0%;
  border: 1px solid #a58f8f;
  background-color: #544242;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-title {
  color: #fff;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body {
  background-color: #a58f8f;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 35px;
  height: 106px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body label {
  color: grey;
  font: 17px;
  margin-left: 120px;
  margin-top: 25px;
}

.upload-music-modal
  .upload-music-dialog
  .upload-content
  .upload-footer
  .btn-upload {
  width: 116px;
  height: 35px;
  border: none;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
  margin-right: 10px;
}

.upload-music-modal
  .upload-music-dialog
  .upload-content
  .upload-footer
  .btn-cancel {
  width: 116px;
  height: 35px;
  border: 1.5px solid #5c5c5c;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-header,
.modal-body,
.modal-footer {
  border: none !important;
}

/* create playlist modal */

.create-playlist-modal {
  margin-top: 15%;
}

.create-playlist-modal .create-playlist-dialog .playlist-content {
  border-radius: 0%;
  border: 1px solid #555555;
  background-color: #544242;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-title {
  color: #fff;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-body
  .playlist-input {
  border-radius: 0%;
  border: 1px solid #767676;
  background-color: #c4c4c4;
  color: #fff;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-footer
  .btn-create {
  width: 116px;
  height: 35px;
  border: none;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
  margin-right: 10px;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-footer
  .btn-cancel {
  width: 116px;
  height: 35px;
  border: 1.5px solid #5c5c5c;
  border-radius: none;
  color: #141414;
  font-size: 16px;
  background-color: #886363;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-body {
  border-top: none !important;
}

.create-playlist-modal
  .create-playlist-dialog
  .playlist-content
  .playlist-header,
.playlist-body,
.playlist-footer {
  border: none !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .line img {
    position: absolute;
    width: 400px;
    height: 80px;
    top: 550px;
    left: 13px;
  }

  .play img {
    position: absolute;
    width: 35px;
    height: 30px;
    top: 650px;
    left: 170px;
  }

  .prev img {
    position: absolute;
    width: 35px;
    height: 30px;
    top: 650px;
    left: 80px;
  }

  .fforward img {
    position: absolute;
    width: 35px;
    height: 30px;
    top: 650px;
    left: 250px;
  }
}
