*{
  padding:0;
  margin:0;
  box-sizing:border-box;
    list-style: none;
    text-decoration: none;
  font-family: 'Post No Bills Jaffna', sans-serif;
}
.wrapper{
  height:100%;
  width:100%;
  position:relative;
}

.wrapper .top_nav{
  margin-top: 5px;
  width: 100%;
  height: 65px;
  background: ;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left{
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo ul{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.wrapper .top_nav .left .logo ul li a{
  color: #494848;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}
.wrapper .top_nav .left .logo ul li a:hover{
  color: #292929;
  transition: .5s;
}
.wrapper .top_nav .right ul{
  display: flex;
  margin-top: 10px;
}

.wrapper .top_nav .right ul li{
  margin: 0 12px;
}

.wrapper .top_nav .right ul li:last-child{
  background:  ;
  margin-right: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wrapper .top_nav .right ul li:hover:last-child{
  background: #494949;
}

.wrapper .top_nav .right ul li a{
  display: block;
  padding: 8px 10px;
  color: #666666;
}

.wrapper .top_nav .right ul li:last-child a{
   color: #fff;
}
body {
background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url('https://www.ultrafiltrex.com/wp-content/uploads/2017/10/gradient-blue.jpg');
height:100vh;
position:center;
background-size:cover;
background-repeat:no-repeat;
}
.text-center {
  font-size: 18px;
  text-align: center;
}
.container{
  margin-top: 50px;
  width: 100%;
  height: 65px;
  background: ;
  padding: 0 5px;
  align-items: center;
  color: white;
  font-size: 40px;
}
.container .text1 {
  font-size: 30px;
}
.container .text2 {
  font-size: 20px;
  margin-bottom: 25px;
}
.container .text3 {
  font-size: 20px;
  margin-bottom: 25px;
}
.container .text4 {
  font-size: 20px;
}
.wrapper .apple {
  margin-top: 480px;
}
.robot1 {
  float: right;
  margin-top: 250px;
}